body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(75, 75, 80);
}
#reno
{
    width: 300px;
    height: 450px;
    float: left;
}
h1,h2,h3
{
    text-align: center;
    text-decoration: underline;
}
h1
{
    color: white;
    background-color: rgba(0, 0, 0, 0.385);
    border: rgb(100, 79, 79) groove 3px;
    border-radius: 10px 5px 10px 5px;
}
.HOHO
{
    width: 1000px;
    position:relative;
     left: 170px;   
     text-align: center;
}
.yes
{
    width: 800px;
    position: relative;
      position: relative;
    right: 400px;
    left: 250px;
    text-align: center;
}

div p img 
{
    width: 150px;
    height: 200px;
}
span
{
    
    text-decoration: underline;
    font-style: bold;
}
.haha
{
    text-align: center;
}
footer
{
    border: rgb(60, 56, 56) groove 1px;
    border-radius: 12px;
    background-color: rgb(24, 24, 72);
    margin-top: 10px;
    color: white;   
}
.mai
{
    border: groove rgb(255, 255, 255) 1px;
    background-color: antiquewhite;
    border-radius: 12px;

}
#lester
{
    position: relative;
    left: 10px;
}



img
{
    
    height:150px;
    border-radius: 12px;
    width: 100px;
    border: solid rgb(221, 188, 138) 3px;
    margin-left: 10px;
}
#luci
{
    border: white groove 1px;
    width: 1330px;
    border-radius: 12px 0px 12px 0px;
    background-color: rgb(24, 24, 72);
    color: white;
}
li
{
    text-align: center;
}
#soc
{
    width: 30px;
    height: 30px;
}
@media only screen and (max-device-width: 1024px)
{
    body
    {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 12px;
        background-color: rgb(75, 75, 80);
    }
    #reno
{
    width: 100px;
    height: 250px;
    float: left;
}
div p img 
{
    width: 50px;
    height: 100px;
}
footer
{
    border: rgb(60, 56, 56) groove 1px;
    border-radius: 12px;
    background-color: rgb(24, 24, 72);
    margin-top: 10px;
    color: white;  
    width: 610px; 
}
#lester
{
    position: relative;
    left: 10px;
    width: 600px;
}
.mai
{
    border: groove rgb(255, 255, 255) 1px;
    background-color: antiquewhite;
    border-radius: 12px;
    width: 610px;

}
.HOHO
{
    width: 300px;
    position:relative;
     left: 170px;   
     text-align: center;
}
#luci
{
    border: white groove 1px;
    width: 610px;
    border-radius: 12px 0px 12px 0px;
    background-color: rgb(24, 24, 72);
    color: white;
}
    .yes
{
   width:400px;
    margin-right:400px;
}
    h1
{
    color: white;
    background-color: rgba(0, 0, 0, 0.385);
    border: rgb(100, 79, 79) groove 3px;
    border-radius: 10px 5px 10px 5px;
   
}


}
